[data-sidebar-style="overlay"] {

    .deznav {
        left: -100%;
        @include transitionMedium;
		
		.metismenu{
			& > li {
				padding: 0 30px;
				@include custommq($max: 360px) {
					padding: 0 15px;
				}
				& > a {
					font-size: 16px;
					padding: 11px 12px 10px 55px;
					color: #7f7184;
					border-radius: 2.75rem;
					-webkit-transition: all 0.5s;
					-ms-transition: all 0.5s;
					transition: all 0.5s;
				}
				&.mm-active > a {
					background: rgba($primary,0.1);
					color:var(--primary);
					box-shadow:0 12px 15px 0 rgba($primary, 0.13);
					i{
						background:var(--primary);
						color:$white;
					}
				}
				
		
				/* @include custommq ($max:1600px){
					padding:0 15px;
					& > a {
						padding: 14px 20px 14px 63px;
					}
				} */
			}
			ul a{
			    padding-top: .5rem;
				padding-bottom: .5rem;
				position: relative;
				font-size: 15px;
				padding-left: 3.5rem;
				@include custommq ($max:1600px){
					padding-left: 3rem;
				}
				@include custommq ($max:360px){
					padding-left: 3.5rem;
				}
			}
		}
		
		
		@at-root [direction="rtl"]#{&} {
            left: auto;
            right: -100%;
        }
    }
    .content-body {
        margin-left: 0;
    }
    .nav-header {
        position: absolute;
        .hamburger.is-active {
            left: 0;
            .line {
                background-color: var(--primary);
            }
        }
    }
    .menu-toggle {
        .nav-header {
            position: absolute;
            left: auto;
        }
        .deznav {
            left: 0;
            @at-root [direction="rtl"]#{&} {
                left: auto;
                right: 0;
            }
        }
    }
    .footer {
        padding-left: 0;
    }
	
}

[data-sidebar-style="overlay"][data-header-position="fixed"] {
    .nav-header {
        position: fixed;
    }
}

[data-sidebar-position="fixed"][data-header-position="fixed"] {
    .nav-header {
        position: fixed;
    }
}
[data-sidebar-style="overlay"][data-container="boxed"]{
	.header-right .schedule-event{
		justify-content:left;
	}
}
[data-sidebar-style="overlay"][data-container="wide-boxed"][data-layout="vertical"]{
	.deznav{
		position:absolute;
	}
	.menu-toggle .deznav{
		position:absolute;
	}
}
 [data-container="wide-boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"]{ 
	.deznav {
        position: fixed;
		
    }
	.menu-toggle{
		.deznav {
			position: fixed;
			z-index: 99999;
			height: calc(100% - 90px);
			left: calc(calc(100% - 1480px) / 2);
			box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.1);
		}
	}	 
		
}